<div class="row">
  <section id="intro" data-speed="4" data-type="background">
    <h1 class="title"><span>Don't node?<br />We node!</span></h1>
    <div class="mostimportant">
      <span class="when">4. October 2014</span><br />
      <span class="where">Mobile World Centre, C/ de Fontanella, 2, Barcelona</span>
    </div>
  </section>
</div>

<div class="spacer row">
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #wenode</p>
</div>

<div class="row text-center">
  <h2>Jobs</h2>
</div>

{{#jobs.listings}}
  {{title}}
{{/jobs.listings}}

<div class="spacer row">
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #wenode</p>
</div>

<section class="meta row">
  <div class="col-xs-12 text-center">
    <h4>A BarcelonaJS event. <a href="http://barcelonajs.org/code">Code of Conduct</a></h4>
    <a href="http://barcelonajs.org"><img class="header-logo" src="/assets/images/logo.png" alt="logo" /></a>
  </div>
</section>
