<div class="row">
  <section id="intro" data-speed="4" data-type="background">
    <a href="index.html"><h1 class="title">Don't node?<br />We node!</h1></a>
    <h2 class="subtitle">by BarcelonaJS <a href="http://barcelonajs.org"><img class="header-logo" src="/assets/images/logo.png" alt="logo" /></a></h2>
    <div class="mostimportant">
      <span class="when">4. October 2014</span><br />
      <span class="where">Mobile World Centre, C/ de Fontanella, 2, Barcelona</span>
    </div>
    <div class="clearfix intro">
      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
        <h2>Thank you for your interest!</h2>
        <p>BarcelonaJS is a monthly event organised by the JavaScript community in Barcelona at the Mobile World Center in Barcelona.</p>
        <p>We run regular non-profit events and conferences apart from the monthly event, for example <a href="http://mobile.barcelonajs.org">MobileJS</a> which had 9 international speakers, 85 participants and was supported by Mozilla, Adobe, Telefonica and other great companies.</p>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
        <h2>About</h2>
        <p>WeNode is a <strong>one day, two track conference</strong> organised by the Barcelona JavaScript community for the community. There will be a track for 30 minute talks and a track for one hour workshops. Tracks alternate with beginner/expert levels, to have interesting material for everyone. Expert talks will go along with beginners workshops and the other way around.</p>
        <p>WeNode is the event that gets all node.js developers into a room for an entire day. It is an event to finally get to meet in person and is an opportunity for you to reach a strong technical audience as well as a great community of JavaScript enthusiasts.</p>
      </div>
    </div>
  </section>
</div>

<div class="spacer row">
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #wenode</p>
</div>

<div class="row text-center">
  <h3>Options</h3>
</div>

<div class="row">
  <table class="table">
    <thead>
      <th>Startup</th>
      <th>Supporter</th>
      <th>Asynchronous</th>
      <th>Synchronous</th>
      <th>Party</th>
    </thead>
    <tfoot>
      <tr><td colspan="5">
        <p>To enquire about sponsorship or media access, please contact Patrick at <a href="mailto:patrick@barcelonajs.org?subject=WeNode Sponsorship">patrick@barcelonajs.org</a> or for general info <a href="mailto:wenode@barcelonajs.org">wenode@barcelonajs.org</a></p>
      </td></tr>
    </tfoot>
    <tbody>
      <tr>
        <td>250,-</td>
        <td>500,-</td>
        <td>750,-</td>
        <td>1500,-</td>
        <td>2500,-</td>
      </tr>
      <tr>
        <td>Table</td>
        <td></td>
        <td></td>
        <td>Sponsor Table</td>
        <td>Sponsor Table</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Sponsor After-Party</td>
      </tr>
      <tr><td colspan="5" class="text-center"><h4>Recruiting</h4></td></tr>
      <tr>
        <td></td>
        <td></td>
        <td>Send Recruiting Materials</td>
        <td>Distribute Recruiting Materials</td>
        <td>Distribute Recruiting Materials</td>
      </tr>
      <tr>
        <td>Resumes</td>
        <td></td>
        <td></td>
        <td>Resumes</td>
        <td>Resumes</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Send Recruiters</td>
        <td>Send Recruiters</td>
      </tr>
      <tr><td colspan="5" class="text-center"><h4>Branding</h4></td></tr>
      <tr>
        <td>Logo on Website</td>
        <td>Logo on Website</td>
        <td>Logo on Website</td>
        <td>Logo on Website</td>
        <td>Logo on Website</td>
      </tr>
      <tr>
        <td>Bring Swag</td>
        <td>Bring Swag</td>
        <td>Bring/Send Swag</td>
        <td>Bring Swag</td>
        <td>Bring Swag</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Logo on T-Shirt</td>
        <td>Logo on T-Shirt</td>
        <td>Logo on T-Shirt</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="spacer row">
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #wenode</p>
</div>

<section class="meta row">
  <div class="col-xs-12 text-center">
    <h4>A BarcelonaJS event. <a href="http://barcelonajs.org/code">Code of Conduct</a></h4>
  </div>
</section>
