<div class="row">
  <section id="intro" data-speed="4" data-type="background">
    <a href="index.html"><h1 class="title">Don't node?<br />We node!</h1></a>
    <h2 class="subtitle">by BarcelonaJS <a href="http://barcelonajs.org"><img class="header-logo" src="/assets/images/logo.png" alt="logo" /></a></h2>
    <div class="mostimportant">
      <span class="when">4. October 2014</span><br />
      <span class="where">Mobile World Centre, C/ de Fontanella, 2, Barcelona</span>
    </div>
    <div class="clearfix intro">
      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
        <h2>Thank you for your interest!</h2>
        <p>BarcelonaJS is a monthly event organised by the JavaScript community in Barcelona with an average of 60 attendees at the Mobile World Center in Barcelona. Our social media channels count over 1100 follwers on Twitter and Google+ and more than 400 email recipients, with a ~70% open rate.</p>
        <p>We run regular non-profit events and conferences apart from the monthly event, for example <a href="http://mobile.barcelonajs.org">MobileJS</a> which had 9 international speakers, 85 participants and was supported by Mozilla, Adobe, Telefonica and other great companies.</p>
        <p>WeNode, our fist Node.js conference, is an opportunity for you to reach a strong technical audience as well as a great community of JavaScript enthusiasts.</p>
        <h2>As a sponsor/supporter</h2>
        <p>We offer your logo and link on our conference website, in all email communication, and on our conference t-shirts. Further options can also be explored with the team.</p>
        <p>To enquire about sponsorship or media access, please contact Patrick at patrick@barcelonajs.org or for general info wenode@barcelonajs.org</p>
      </div>
    </div>
  </section>
</div>

<section class="meta row">
  <div class="col-xs-12 text-center">
    <h4>A BarcelonaJS event. <a href="http://barcelonajs.org/code">Code of Conduct</a></h4>
  </div>
</section>
