{{! buy ticket}}
<section class="spacer">
	<div class="container">
		<div class="row">
		  <h3 class="text-center register"><a class="btn btn-default btn-lg" href="http://tickets.barcelonajs.org" data-buyticket="buyticket.hbs">Buy your ticket &nbsp; <i class="fa fa-ticket"></i></a></h3>
		  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #wenode &nbsp;</p>
		</div>
	</div>
</section>