{{! code of conduct}}
<section class="meta">
	<div class="container">
		<div class="row">
		  <div class="col-xs-12 text-center">
		    <h4>A BarcelonaJS event. <a href="http://barcelonajs.org/code">Code of Conduct</a></h4>
		    <a href="http://barcelonajs.org"><img class="header-logo" src="{{assets}}/images/logo.png" alt="BarcelonaJS Logo" /></a>
		  </div>
		</div>
	</div>
</section>
