{{!-- 
	offers exits at people when they finishes the web page 

	people when finishes a web page usually wants to leave,
	so we offer links to the same page so they can stay
--}}
<section class="meta">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">

        <a href="/" class="exit-link exit-logo" ><img src="{{assets}}/images/wenode_logo.png" alt="We node! Logo" /></a>

        <a href="/#agenda" class="exit-link"><i class="fa fa-calendar"></i></a>

        <a href="http://tickets.barcelonajs.org" class="exit-link exit-buy" data-buyticket="exits.hbs"><i class="fa fa-ticket"></i></a>

      </div>
    </div>
  </div>
</section>