{{!-- #intro section --}}
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <h1 class="title"><span>WeNode</span></h1>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="mostimportant">
          <span class="when">4. October 2014</span>
          <br />
          <span class="where">Mobile World Centre, C/ de Fontanella, 2, Barcelona</span>
          <div class="row">
            <h3 class="text-center"><a class="btn btn-default btn-lg" href="http://tickets.barcelonajs.org">Buy your ticket</a></h3>
            <p class="text-right intro-social"><i class="fa fa-twitter"></i> @bcnjs / #wenode</p>
          </div>
        </div>
      </div>
    </div>{{! /.row }}
  </div>

  <div class="hidden-xs text-center">
    <div class="minibar">
      {{> speakers-small }}
    </div>
    <div class="sponsorbar">
      {{> supporters-small }}
    </div>
  </div>

  <div class="intro-motivation-bg">
    <div class="container">
      <div class="intro-motivation">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p>WeNode – a one-day not-for-profit conference about node.js, server-side and embedded JavaScript technologies.</p>
            <p>Organised by BarcelonaJS for the community.</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>WeNode – una conferencia de un día sin animo de lucro sobre tecnologías node.js, server-side y embedded Javascript.</p>
            <p>Organitzat des de BarcelonaJS per a la comunitat.</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>WeNode – una conferencia d'un dia sense anim de lucre sobre node.js, i tecnologies server-side i embedded Javascript.</p>
            <p>Organizado desde BarcelonaJS para la comunidad.</p>
          </div>
        </div>{{! /.row }}
      </div>
    </div>
  </div>

</section>
