{{#each speakers}}
  <a href="/speaker/{{basename}}.html" class="speakers-row-item">
    <div class="hexagon-sm member-portrait" style="background-image: url({{portrait}});">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
  </a>
{{/each}}
