{{! supporters}}
<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="col-sm-offset-1">Sponsors</h3>
      </div>
    </div>

    <div class="row">
      {{#each sponsors}}
        <h4>{{option}}</h4>
        {{#each list}}
          <div class="sponsor col-xs-12 col-sm-4 text-center">
            <a href="{{url}}?utm_source=wenode&utm_medium=sponsor&utm_campaign=barcelonajs" target="_blank">
              <img class="sponsor-logo" src="{{logo}}" alt={{name}} />
            </a>
          </div>
        {{/each}}
      {{/each}}
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        Want to support or sponsor WeNode? Check out our <a href="sponsors.html">sponsorship packages</a>.
      </div>
    </div>
  </div>
</section>
