{{! supporters}}
<section id="supporters">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="col-sm-offset-1">Supporters</h3>
      </div>
    </div>

    <div class="row">
      {{#each supporters}}
      <div class="supporter supporter-logo col-xs-12 col-sm-4 text-center">
        <a href="{{url}}?utm_source=wenode&utm_medium=supporter&utm_campaign=barcelonajs" target="_blank">
          <img src="{{logo}}" alt={{name}} />
        </a>
      </div>
      {{/each}}
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        Want to support or sponsor WeNode? Check out our <a href="sponsors.html">sponsorship packages</a>.
      </div>
    </div>

  </div>
</section>
