<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="A one-day node.js conference in Barcelona.">
  <meta name="keywords" content="javascript, nodejs, node.js, backend, backendjs, servers, server, embedded, mobile">
  <meta name="author" content="Patrick Heneise, patrick@barcelonajs.org">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.title}}</title>

  <!-- All Styles -->
  <link rel="stylesheet" href="assets/styles/wenode.css">

  <!-- Webfonts -->
  <script type="text/javascript" src="//use.typekit.net/mqp5ibc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ assets }}/ico/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ assets }}/ico/favicon.png">
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

  {{> home-navbar }}

  <div role="main">

    {{> body }}

  </div>

  <!-- Include all scripts -->
  <script src="{{assets}}/scripts/wenode.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-37507281-5', 'barcelonajs.org');
  ga('send', 'pageview');
  </script>
</body>

</html>
