.exit-link {
	font-size: 10em;
	padding: 0 20px;
	&:hover,&:active {
		color: lighten(@primary-color, 10%);
		text-decoration: none;
	}
}

.exit-logo {
	img {
		vertical-align: bottom;
		max-height: 1.5em;		
	}
	&:hover,&:active {
		opacity: 0.9;
	}

}

.exit-link.exitx-buy {
	color: darken(@btn-default-bg,10%);
	&:hover,&:active {
		color: @btn-default-bg;
	}	
}