.sponsor, .supporter {
  height: 100px;
}

.sponsor.sponsor-option {
	h4 {
		line-height: 100px;
		vertical-align: middle;
	}	
}

.sponsor-logo, .supporter-logo {	
	line-height: 100px;
	vertical-align: middle;
	img {
		max-width: 100%;
		@media (min-width: @screen-md-min) {
			max-width: 250px;
		}		
	}
}
